.all-repairs-section{
    padding-left: 0;
    padding-bottom: 2rem;
}

div.issue{
    /* margin: 20px 70px; */
    width: 100%;
}

.issue .container{
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-template-rows: 10 45 45; */
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.issue .header{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 20px;
    height: fit-content;
}

.issue .header h1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 30px;
    margin-bottom: 10px;
}

.issue .issue-subject{
    margin-top: 0;
}

.issue .issue-body{
    grid-row: 2/4;
    grid-column: 1;
}

.issue .sidebar{
    grid-row: 1/100;
    grid-column: 2/3;
    padding: 30px;
    background-color: #F0F0F0;
    margin-right: 50px;
    border-radius: 6px;
    
}

.issue .sidebar p{
    margin-bottom: 30px;
}

.issue .sidebar label{
    font-weight: bold;
    margin-bottom: 10;
}

.sidebar > *{
    display: block;
}

.add-feedback-btn{
    border-radius: 6px;
    width: 100%;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
}

.add-feedback-btn{
    background-color: blue;
}

.creation-date{
    margin-top: 50px;
    margin-bottom: 10px;
    color: lightslategray;
}

.updated-date{
    color: lightslategray;
}

.add-feedback-btn:hover, .mark-progress-btn:hover{
    cursor: pointer;
}

.feedback-section{
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.feedback-form{
    display: none;
}

#submit-feedback-btn{
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.feedback{
    margin-bottom: 0;
}

.feedback-meta-data{
    font-size: x-small;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: lightslategray;
}

.update-issue-form{
    margin-top: 2rem;
}

/*====================Assign Maintenance Personnel=====================*/
#mtn-info-panel{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    overflow: auto;
}

.mtn-info-list{
    list-style-type: none;
}

.formPopup {
    display: none;
    position: fixed;
    left: 30%;
    top: 1.5rem;
    bottom: 10%;
    /* margin-left: 20%; */
    transform: translate(-30%, 5%);
    z-index: 9;
    overflow: scroll;
    max-width: 70%;
}